header {
    background-image: url(images/pattern-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2em 2em 7em;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
  }
  
  .search-bar {
    display: flex;
    width: min(40rem, 100%);
    border-radius: 1rem;
    overflow: hidden;
  }
  
  #search-input,
  #search-btn {
    padding: 1em 1.5em;
    border: none;
  }
  
  #search-input {
    width: 100%;
    font-size: 18px;
    color: var(--dark-grey)
  }
  
  #search-btn {
    background-color: var(--very-dark-grey);
  }